<!DOCTYPE html> 
<html lang="en">
<head>
<title>Contact Form</title>
<meta charset="utf-8">

</head>
<body>
<h1>Contact Us</h1>

<xxxx method="post" action="https://Marketplace.com">
  <label for="myName">Name:</label>
  <xxxx type="text" name="myName" id="myName"><br>
  <label for="myEmail">E-mail:</label><br>
  <xxxx type="text" name="myEmail" id="myEmail">
  <label for="myComments">Comments:</label><br>
  <xxxx name="myComments" id="myComments" rows="2" cols="20"></xxxx>
  <xxxx id="mySubmit" type="submit" value="Submit">
</xxxx>
</body>
</html>
