
<!DOCTYPE html>
<html lang="en">
<head>
    <title> Pitt's Marketplace website</title>
    <meta charset = "utf-8">
    <link rel ="stylesheet" href = "layout.css">
</head>

 <body>

<h1>WELCOME TO PITT MARKETPLACE</h1>
<p><b>The place you live,love, play and shop</b></p>
<nav>
    <b>
        <a href="market.html">Home</a> &nbsp;
        <a href="services.html">Services</a> &nbsp;
        <a href="contact.html">Contact</a>
    </b>

</nav>

<ul>
    <li>123 fifth avenue, Pittsburgh, PA 152..</li>
    <li>Email : contact@pittmarketplace.com</li>
    <li>Phone : 888-888-8888</li>
</ul>

 </body>

<html>