<!DOCTYPE html>
<html>
  <link rel="stylesheet" href="{{ url_for('static', filename='layout.css') }}">
  <head>
    {% block head %}
    <title>{% block title %} Pitt Marketplace{% endblock %}</title>
    {% endblock %}
  </head>
  
  <body>
    <div id="content">
      <header>
        <h1 style="color: #FFB81C">Pitt Marketplace</h1>
      </header>
      <nav>
        <a href="/market">Browse</a>
        <a href="/sell">Sell</a>
        <a href="/account">Account</a>
        <a href="/logout">Log Out</a>

      </nav>
    <main>
      {% block content %}{% endblock %}
    </main>
    </div>
  </body>
</html>