


<!DOCTYPE html>
<html lang="en">
<head>
    <title> Pitt's Marketplace Sign up</title>
    <meta charset = "utf-8">
    <link rel ="stylesheet" href = "layout.css">
</head>

 <body>

    <form method="post" action="https://pittmarketplace.com">
        
        <label for="myname">Name:</label>
        <input type="text" name ="myname" id = "myname" required = "required"><br><br>
        <label for="myemail"> Email: </label>
        <input type= "text" name ="myemail" id="myemail" required = "required"><br><br>
        <label for= "password">Password:</label>
        <input type="number" name="password" id="password" required="required"><br><br>
        <input type ="submit" value = "Submit">
    
    </form>

 </body>

<html>
